.mat-card-header-text {
  width: 80%;
}

.mat-card-title {
  font-size: 25px;
}

.coins {
  &-container mat-card {
    margin: 20px auto;
  }
  
  &__card {
    max-width: 90%;
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-gap: 25px;
    align-items: center;
  }
  
  &-data {
    &__last {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 20px;
      font-size: 12px;
    }
    
    &__coin {
      font-weight: 700;
    }
  }
}

.mat-card-image {
  max-width: 25px;
  margin-left: 5px;
  justify-self: flex-end;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}