<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>
<div *ngIf="showSpinner; else loading"></div>
<div class="search-container">
  <div *ngIf="coins$ | async as coins2; else loading"></div>
  <angular2-multiselect [data]="coins" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (input)="onChange($event.target.value)">
    <c-item>
      <ng-template let-item="item">
        <img *ngIf="item.iconUrl" class="option-img" aria-hidden [src]="item.iconUrl" height="25">
        <span *ngIf="item.name">{{item.name}}</span> |
        <span *ngIf="item.symbol">{{item.symbol}}</span>
        <span *ngIf="item.price"> |
          <span>{{item.price}} USD</span>
        </span>
      </ng-template>
    </c-item>
  </angular2-multiselect>
</div>